@import "/src/definitions";

.filtersWrapper {
  @extend %list-root-style;
  padding: 20px;
  position: relative;
  width: 315px;

  @media screen and (max-width: $width-tablet){
    width: 280px;
    position: fixed;
    left: -260px;
    z-index: 100;
    transition-duration: 1s;

    &:hover {
      left: 5px;
    }

    &::after {
      padding: 3px;
      content: '>>';
      display: inline-block;
      border: black solid 1px;
      border-radius: 10%;
      background-color: $color-background-white;
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .head {
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    > div {
      line-height: 0;
    }

    .branch {
      margin-top: 32px;
    }

    label {
      font-weight: 700;
      font-size: 16px;
      line-height: 19.36px;
    }

    input, select {
      margin-top: 8px;
    }

    .branch {

    }

    .payment {
      margin-top: 20px;
    }

  }
}