@import "/src/definitions";

.emptyStateWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  > *:not(:first-child) {
    margin-top: 32px;
  }

  .logoWrapper {
    // 124px(padding) + 80px  = 204px
    margin-top: 80px;

    img {
      display: inline-block;
      width: 240px;
      height: 230.27px;

      @media screen and (max-width: $width-tablet) {
        width: 200px;
        height: 190px;
      }

      @media screen and (max-width: $width-tablet) {
        width: 180px;
        height: 170px;
      }
    }
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: $color-black;

    @media screen and (max-width: $width-tablet) {
      font-size: 18px;
    }

    @media screen and (max-width: $width-tablet) {
      font-size: 16px;
    }
  }

  .buttonWrapper {

  }
}