@import "/src/definitions";

.headerWrapper {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100vw;
  background-color: $color-background-white;

  @media screen and (max-width: $width-container-main){
    position: absolute;
  }

  > div {
    display: flex;
    height: $height-header;

    @media screen and (max-width: $width-tablet){
      height: unset;
      padding: 10px 10px;
    }

    .flexWrapper {
      flex-grow: 1;
      display: flex;
      align-items: center;

      > div:last-child {
        flex-grow: 1;
      }
    }
  }
}