
// COLORS
$color-main-background: #F5F5F5;
$color-lists-background: #FFFFFF;
$color-font-black: #232134;
$color-font-blue: #5E96FC;

// FONTS
$font-main: Inter;
$font-logo: Poppins;

// SIZES
$height-header: 84px;