@import "/src/definitions";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: $font-main;
  color: $color-black;
  font-weight: 400;
}

.container {
  max-width: $width-container-main;
  margin: 0 auto;

  @media screen and (max-width: $width-container-main){
    padding: 0 10px;
  }
}